#pagetitle
{
  font-size:150%;
  color:#787878;
  font-weight:bold;
}
ul
{
  list-style:none;
}
li
{
  font-size:120%;
  font-weight:bold;
  margin-top:0.5em;
}
a
{
  text-decoration:none;
  color:#3060c0;
}
